body {
    background-color: #14213d;
    margin: 75px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    text-align: center;
    color: #fca311;
}

h2 {
    text-align: center;
    color: #fca311;
    font-size: medium;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

h3 {
    text-align: center;
    color: #fca311;
}

h4 {
    color: #ffffff;
}

img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-color: #e5e5e5;
    border-radius: 10px;
}


.menu {
    text-align: center;
    color: #e5e5e5;
    padding: 10px;
    list-style: none;
}

li {
    color: #7c7c7c;
}

.ing {
    padding-left: 100px
}

.dir {
    padding-left: 10%;
    padding-right: 10%;
}

footer {
    text-align: center;
}